TeamBesterestGame/Library/
TeamBesterestGame/Temp/
TeamBesterestGame/TeamBesterestGame.userprefs
TeamBesterestGame/.vs/
TeamBesterestGame/TeamBesterestGame.csproj
*.csproj
TeamBesterestGame/Assets/Wwise/Resources/Soundbank.meta
TeamBesterestGame/Assets/Wwise/Resources/Event.meta
TeamBesterestGame/Assets/Wwise/Resources.meta
TeamBesterestGame/Assets/Wwise/Deployment/Plugins/Mac/Release/AkWaapiClient.bundle/Contents/MacOS.meta
TeamBesterestGame/Assets/Wwise/Deployment/Plugins/Mac/Release/AkWaapiClient.bundle/Contents.meta
TeamBesterestGame/Assets/Wwise/Deployment/API/Handwritten/Windows.meta
TeamBesterestGame/Assets/Wwise/Deployment/API/Handwritten/Common/WwiseObjects.meta
TeamBesterestGame/Assets/Wwise/Deployment/API/Handwritten/Common.meta
TeamBesterestGame/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/English(US).meta
TeamBesterestGame/Assets/Wwise/Deployment/Plugins/Mac/Profile/AkWaapiClient.bundle/Contents/MacOS.meta
TeamBesterestGame/Assets/Wwise/Deployment/Plugins/Mac/Profile/AkWaapiClient.bundle/Contents.meta
TeamBesterestGame/Assets/Wwise/Deployment/Plugins/Mac/Debug/AkWaapiClient.bundle/Contents/MacOS.meta
TeamBesterestGame/Assets/Wwise/Deployment/Plugins/Mac/Debug/AkWaapiClient.bundle/Contents.meta
TeamBesterestGame/Assets/Wwise/Deployment/API/Handwritten/WAAPI.meta
TeamBesterestGame/Assets/Wwise/Deployment/API/Handwritten/Mac.meta
TeamBesterestGame/Assets/Wwise/Deployment/API/Handwritten/Common/WwiseTypes.meta
